/* body {
    font-family: 'Inter', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 20px;
} */

#prescription-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.prescription-text-center {
    font-weight: 600;
}

.salutation-form-select{
    width: 80px;
    margin-right: 1200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}